<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/"><%=image_tag("Travel_Empire_Logo_1.jpg",:class=>"te_logo")%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-2">
       <%=link_to "About Us", about_us_path, :class => 'nav-link'%>
      </li>
      <li class="nav-item active ml-2">
        <%=link_to "Pricing", pricing_path, :class => 'nav-link'%>
      </li>
      <li class="nav-item active ml-2">
        <%=link_to "Terms & Conditions", tc_path, :class => 'nav-link'%>
      </li>
    </ul>
  </div>
</nav>
