<center>
  <div id="formContainer" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="col">
      <div class="row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            One Way
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Round Trip
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Multi City
            </label>
          </div>
      </div>
      <div class="form-group">
        <select class="form-control mt-2" id="exampleFormControlSelect1">
          <option>Chennai</option>
          <option>Madurai</option>
          <option>Trichy</option>
          <option>Tirunelveli</option>
          <option>Kanyakumari</option>
        </select>
      </div>
      <button type="button" id="locationSwap" class="btn btn-primary mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"></path>
        </svg>
      </button>
      <div class="form-group">
        <select class="form-control mt-2" id="exampleFormControlSelect1">
          <option>Chennai</option>
          <option>Madurai</option>
          <option>Trichy</option>
          <option>Tirunelveli</option>
          <option>Kanyakumari</option>
        </select>
      </div>
    </div>
  </div>
</center>
  <script>
    $(document).ready(function(){

    });
  </script>
