<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><%=image_tag("Travel_Empire_Logo_1.jpg",:class=>"te_logo")%></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-2">
        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="#">Our Policy</a>
      </li>
    </ul>
  </div>
</nav>
