<%= render :partial => 'home/navbar_files/navbar'%>
<center>
    <div class="formContainer shadow-lg p-3 mb-5 bg-white rounded ">
    
      <iframe width="700" height="315" src="https://www.youtube.com/embed/jIXmkLmv-II" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br><br> 
<iframe width="700" height="315" src="https://www.youtube.com/embed/Buqb8M6HQbM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</center> 
