<%= render :partial => 'home/navbar_files/navbar'%>
<center>
  <div class="formContainer shadow-lg p-3 mb-5 bg-white rounded ">
    <%=image_tag("about_us.png", :class=> "contact_us")%>
    <div class="address">
      <p><b>Contact Address</b></p>
      <p>Travel Empire</p>
      <p>12/15 Elangoadigal Street</p>
      <p> Thiruvalluvar Nagar, Arumbakkam</p>
      <p>Chennai 600106</p>
      <br><br>
      <p><b>Email: </b>chennai.travelempire@yahoo.com</p>
      <br>
      <p><b>Phone:</b> 83000 54444</p>
    </div>
  </div>
</center>
