<%= render :partial => 'home/navbar_files/navbar'%>
<center>
  <div id="formContainer" class="shadow-lg p-3 mb-5 bg-white rounded">

    <div id="initBtnCntnr">
      <div class="form-row mt-4">
        <div class="form-group col-md-6">
          <button type="button" id="bookCab" name="button" class="btn green-btn ">Book a Cab</button>
        </div>
        <div class="form-group col-md-6">
          <%= link_to "Make a Payment", "https://pmny.in/aIlQzaGFxaIb",:id => "makePayment", :class=> "btn green-btn"%>
        </div>
      </div>
    </div>

    <%=render :partial => 'home/cab_booking/per_bus'%>

    <%=render :partial => 'home/cab_booking/cab_booking_form'%>
  </div>
</center>
<script type="text/javascript" src="data/districts.json"></script>
<script>
  let porb = "";
  let tor = "";
  let locs = 0;
  $(document).ready(function(){
    $('.perOrBus').hide();
    $('#addLocation').hide();
    $('#bookCab').on('click', function(){
        $('#bookCab').hide();
        $('#makePayment').hide();
        $('.perOrBus').show();
      // $('.cabBookingForm').show();
    });

    $('#personalRadio').on('click',function(){
      $('#gst').hide();
      $('#gstLabel').hide();
      $('.cabBookingForm').show();
    });

    $('#businessRadio').on('click',function(){
      $('#gst').show();
      $('#gstLabel').show();
      $('.cabBookingForm').show();
    });

    $('#inlineFormCustomSelect').on('click', function()
    {
        tor =  $('#inlineFormCustomSelect :selected').text()
        switch(tor){
            case "One Way":
                $('#addLocation').hide();
                $('#toLocation').show();
                $('#locationSwap').show();
                $('.locations').hide();
                break;
            case "Return Trip":
                $('#addLocation').hide();
                $('#toLocation').show();
                $('#locationSwap').show();
                $('.locations').hide();
                break;
            case "Round Trip":
                $('.locations').show(); 
                $('#addLocation').show();
                $('#locationSwap').hide();
                $('#toLocation').hide();
                break;
            case "Multi Way":
                $('.locations').show(); 
                $('#addLocation').show();
                $('#locationSwap').hide();
                $('#toLocation').hide();
                break;
            case "Hourly":
                $('.locations').hide();                
                $('#addLocation').hide();
                $('#locationSwap').hide();
                $('#toLocation').hide();
                break;
          location.reload();
        }
    });
  
    $('#addLocation').on('click',function(){
      locs++;
      if(locs<5){
        parElem = document.getElementById('multiLocations');
        input = document.createElement("input");
        input.setAttribute('type','text');
        input.setAttribute('class',"form-control mb-3 locations");
        parElem.appendChild(input);   
      }else{
        window.alert("You can add only maximum of 4 locations");  
      }
    });
  });
</script>
