<%= render :partial => 'home/navbar_files/navbar'%>
<center>
  <div class="formContainer shadow-lg p-3 mb-5 bg-white rounded ">
    <div id="initBtnCntnr">
      <div class="form-row mt-4">
        <div class="form-group col-md-6">
          <a href="javascript:void(0)" id="upi"><%=image_tag("upi.png", :class=>"upi")%></a>
        </div>
        <div class="form-group col-md-6">
          <div class="pm-button"><a href="https://www.payumoney.com/paybypayumoney/#/873499F5DC38990511EE5CFEA369E1F1"><img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/213.png" /></a></div>
        </div>
      </div>
      <div id="qrs">
        <div class="form-row mt-4">
          <div class="form-group col-md-6">
            <%=image_tag("gpay.png", :class => "qr")%>
          </div>
          <div class="form-group col-md-6">
            <%=image_tag("phonepe.png", :class=> "qr")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
<script type="text/javascript">
$(document).ready(function(){
  $('#upi').on('click', function(){
    $('#qrs').toggle();
  });
});
</script>
