<%= render :partial => 'home/navbar_files/navbar'%>
<center>
  <div class="formContainer shadow-lg p-3 mb-5 bg-white rounded ">
    <%=image_tag('4seater.jpg', :class=> 'pricing-images')%>
    <br><br><br>
    <%=image_tag('7seater.jpg', :class=> 'pricing-images')%>
  </div>
</center> 
