<div id="#cabBookingForm" class="cabBookingForm mb-5">
  <div class="col">
    <div class="row">
      <%= render :partial => "home/cab_booking/type_of_rides_radio.html.erb"%>
    </div>
    <%= render :partial => "home/cab_booking/locations.html.erb"%>
    <%= render :partial => "home/cab_booking/type_of_booking.html.erb"%>
  </div>
  <div class="col">
    <div class="row">
      <div id="dateTime">
        <label for="bookingTime text">Pickup Date and Time</label>
        <input type="datetime-local" class="bookingTime" id="bookingTime"
          name="bookingTime" value="2021-10-13T19:30"
          min="2021-10-13T00:00" max="2021-10-13T00:00">
      </div>
    </div>
  </div>
  <div id="personalDets">
    <h3>Personal Details</h3>
    <div class="form-row mt-4">
      <div class="form-group col-md-4">
        <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
      </div>
      <div class="form-group col-md-4">
        <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
      </div>
    </div>
  </div>
</div>
