<center>
  <div id="formContainer" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="col">
      <div class="row">
        <%=render :partial => "type_of_rides_radio"%>
      </div>
      <%= render :partial => "home/cab_booking/locations.html.erb"%>
    </div>
  </div>
</center>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#oneWayRadio').on('click',function(){
        $('#toDropdown').show();
        $('#locationSwap').show();
      });
      $('#multiCityRadio').on('click',function(){
        $('#toDropdown').hide();
        $('#locationSwap').hide();
      });
      $('#roundTripRadio').on('click',function(){
        $('#toDropdown').show();
        $('#locationSwap').show();
      });
      $('#hourlyRadio').on('click',function(){
        $('#toDropdown').hide();
        $('#locationSwap').hide();
      });


      $('#locationSwap').on('click', function(){
        
      });
    });
  </script>
