<div id="#cabBookingForm" class="cabBookingForm mb-5">
  <div class="col">
    <%= render :partial => "home/cab_booking/locations.html.erb"%>
    <%= render :partial => "home/cab_booking/type_of_booking.html.erb"%>
  </div>
  <div class="col">
    <div class="row">
      <div id="dateTime">
        <label for="bookingTime text">Pickup Date and Time</label>
        <input type="datetime-local" class="bookingTime" id="bookingTime"
          name="bookingTpartialime" value="2021-10-13T19:30"
          min="2021-10-13T00:00" max="2021-10-13T00:00">
      </div>
    </div>
  </div>
  <div id="personalDets">
    <h3>Personal Details</h3>
    <div class="form-row mt-4">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" id="phone" class="form-control" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
      </div>
      <div class="form-group col-md-6">
        <input type="email" id="email" class="form-control" name="email" placeholder="john@msn.in">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="custom-file">
          <input type="file" class="custom-file-input green-btn" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="custom-file">
          <input type="file" class="custom-file-input green-btn" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  });
</script>
