<div id="#cabBookingForm" class="cabBookingForm mb-5">
  <div class="col">
    <%= render :partial => "home/cab_booking/locations.html.erb"%>
  </div>
  <div id="dateTime">
    <label for="bookingTime text">Pickup Date and Time</label>
    <input type="datetime-local" class="bookingTime" id="bookingTime"
      name="bookingTpartialime" value="2021-10-13T19:30"
      min="2021-10-13T00:00" max="2021-10-13T00:00">
  </div>
  <%=render :partial => "home/cab_booking/personal_details.html.erb" %>
</div>

<script>
  $(document).ready(function(){
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  });
</script>
