<div class="fromAndToLocation">
  <div class="form-row mt-2">
    <div class="form-group col-md-6 ">
      <label class="mr-sm-2 form-label" for="inlineFormCustomSelect">Type of your trip</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="ow">One Way</option>
        <option value="rt">Return Trip</option>
        <option value="rtt">Round Trip</option>
        <option value="my">Multi Way</option>
        <option value="hy">Hourly</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <div class="form-outline">
        <label class="form-label" for="adult">Adult</label>
        <input type="number" id="adult" class="form-control" />
      </div>
    </div>
    <div class="form-group col-md-3">
      <div class="form-outline">
        <label class="form-label" for="child">Children</label>
        <input type="number" id="child" class="form-control" />
      </div>
    </div>
  </div>
  <div class="form-row mt-8">
    <div class="form-group col">
      <%= text_field_tag :fromLocation, nil, autocomplete: :off, class: "form-control search-input", placeholder: "From" %>
    </div>
  </div>
  <center>
    <button type="button" id="locationSwap" class="btn btn-primary mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"></path>
      </svg>
    </button>
  </center>
  <div class="form-row mt-2">
    <div class="form-group col">
      <%= text_field_tag :toLocation, nil, autocomplete: :off, class: "form-control search-input", placeholder: "To" %>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col">
      <div id="dateTime">
        <label for="bookingTime text" class="dateTimeLabel">Pickup Date and Time</label>
        <input type="datetime-local" class="bookingTime" id="bookingTime"
          name="bookingTpartialime" value="2021-10-13T19:30"
          min="2021-10-13T00:00" max="2021-10-13T00:00">
      </div>
    </div>
  </div>

  <div clas="form-row mt-2">
    <div class="form-group col">
      <form style="display:inline-flex" class="typeOfRide">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="bookNow" value="option1">
          <label class="form-check-label" for="bookNow">
           Book Now
        </div>
        <div class="form-check ml-3">
          <input class="form-check-input" type="radio" name="exampleRadios" id="advanceBooking" value="option2">
          <label class="form-check-label" for="advanceBooking">
          Book in Advance
          </label>
        </div>
        <div class="form-check disabled ml-3">
          <input class="form-check-input" type="radio" name="exampleRadios" id="tentative" value="option3">
          <label class="form-check-label" for="tentative">
              Tentative - <div class="smallFont">Anytime within the next 7 days</div>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
</script>
