<div id="personalDets">
  <h3>Personal Details</h3>
  <div class="form-row mt-4">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" id="phone" class="form-control" name="phone" placeholder="987654321" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
    </div>
    <div class="form-group col-md-6">
      <input type="email" id="email" class="form-control" name="email" placeholder="john@msn.in">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="custom-file">
        <input type="file" class="custom-file-input green-btn" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="custom-file">
        <input type="file" class="custom-file-input green-btn" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" id="gst" class="form-control" name="gst" placeholder="GSTIN">
    </div>
  </div>
</div>
