<div id="typeOfRides">
  <div class="form-check ml-3">
    <input class="form-check-input" type="radio" name="exampleRadios" id="oneWayRadio" value="option1" checked>
    <label class="form-check-label" for="oneWayRadio">
      One Way
    </div>
    <div class="form-check ml-3">
      <input class="form-check-input" type="radio" name="exampleRadios" id="roundTripRadio" value="option2">
      <label class="form-check-label" for="roundTripRadio">
        Round Trip
      </label>
    </div>
    <div class="form-check disabled ml-3">
      <input class="form-check-input" type="radio" name="exampleRadios" id="multiCityRadio" value="option3">
      <label class="form-check-label" for="multiCityRadio">
        Multi City
      </label>
    </div>
    <div class="form-check disabled ml-3">
      <input class="form-check-input" type="radio" name="exampleRadios" id="hourlyRadio" value="option4">
      <label class="form-check-label" for="hourlyRadio">
        Hourly
      </label>
    </div>

</div>
