<div id="typeOfBooking">
  <form style="display:inline-flex">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="bookNow" value="option1">
      <label class="form-check-label" for="bookNow">
        Book Now
      </div>
      <div class="form-check ml-3">
        <input class="form-check-input" type="radio" name="exampleRadios" id="advanceBooking" value="option2">
        <label class="form-check-label" for="advanceBooking">
          Book in Advance
        </label>
      </div>
      <div class="form-check disabled ml-3">
        <input class="form-check-input" type="radio" name="exampleRadios" id="tentative" value="option3">
        <label class="form-check-label" for="tentative">
          Tentative - Anytime within next 7 days
        </label>
      </div>
  </form>
</div>
