#dwnExcel{
  margin-top: 5%;
}
#xlsx{
  margin: 5%;
}

.admin_full_logo{
  margin:auto;
  display: block;
  width: 35%;
}

.admin_form_item{
  width: 25% !important;
  margin-left: 35%;
}

.admin-alert{
  width: 35%;
  margin: auto;
}
