$base-color-green : #334420;
$base-color-gold : #E6A620;


#dwnExcel{
  margin-top: 5%;
}
#xlsx{
  margin: 2%;
}

.admin_full_logo{
  margin:auto;
  display: block;
  width: 35%;
}

.pdf_logo{
  width: 25%;
}

.admin_form_item{
  width: 25% !important;
  margin-left: 35%;
}

.admin-alert{
  width: 35%;
  margin: auto;
}


.userMessage{
  float: left;
  max-width: 45%;
  border-radius: 25px;
  background: #E1F4C8;
  padding: 1%;
}

#chatMsgBox{
  margin-top: 1%;
}


.waIndexElement{
  color: black;
}

.waBold{
  font-weight: bold;
}

.adminNavbar{
}

.admin_te_logo{
  width: 200px;
  height: 70px;
}

.tripsContainer{
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: scroll;
  bottom: 0px;
}


.paperclip{
  width: 15px;
  height: 15px;
}

.status_image{
  margin-top: 10%;
  margin-left: 38%;
  width: 25%
}
