#dwnExcel{
  margin-top: 5%;
}
#xlsx{
  margin: 5%;
}

.admin_full_logo{
  margin:auto;
  display: block;
  width: 35%;
}

.admin_form_item{
  width: 25% !important;
  margin-left: 35%;
}

.admin-alert{
  width: 35%;
  margin: auto;
}

.adminWaIndexContainer{
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  height:500px;
}

.adminWaChatContainer{
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.adminChatBox{
  height: 550px;
  overflow: scroll;
}

.adminMessage{
  float: right;
  max-width: 45%;
  border-radius: 25px;
  background: #E1F4C8;
  padding: 1%;
}

.userMessage{
  float: left;
  max-width: 45%;
  border-radius: 25px;
  background: #E1F4C8;
  padding: 1%;
}

#chatMsgBox{
  margin-top: 1%;
}

#sendMsg{
  margin-left: 15%;
}
