// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$base-color-green : #334420;
.navbar{
  background-color: $base-color-green !important;
  color: white;
}

.navbar .navbar-brand .te_logo{
  width: 200px;
  height: 70px;
}

.dropdown .nav-link {
  color: white !important;
  text-decoration: none;
}

.nav-link{
  color: white !important;
}

#locationSwap{
  background-color: $base-color-green;
  border-color: $base-color-green;
}
