$user_chat_bubble_bg: #D1F0AE;
$admin_chat_bubble_bg: #FFFC9C;
.wa_msg_container {
  border: 2px solid #dedede;
  background-color: $user_chat_bubble_bg;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  text-align: right;
}

.user_msg {
  text-align: left;
  border-color: #ccc;
  background-color: #FFFC9C;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}


.adminWaIndexContainer{
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  height:500px;
}

.adminWaChatContainer{
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.adminChatBox{
  height: 650px;
  overflow: scroll;
}

.wa_img, .wa_vid{
  width: 25%;
  height: 25%;
}

.locationTear{
  width: 5%;
}

.wa_notification{
  margin-left: 10%;
  width: 20px;
}

.wa_index_name{
  margin-left: 10%;
}
